extends layouts/main.pug
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && (video.creator.id === loggedUser.id)
                a(href=routes.editVideo(video.id))
                    button 영상 수정
            h5.video__title=video.title
            a.video__users(href=routes.userDetail(video.creator.id))=video.creator.name
            span.video__views 조회수 #{video.views}회
            hr
            p.video__description=video.description
        .video__comments
                span.video__comment-number 댓글 (#{video.comments.length})